<p>Documentos works!</p>
<body>
    <header>
        <div class="document">
            <div class="row">
                <div class="formulario">
                    <section>
                        <label for="PEI">PEI:  </label>
                        <input type="file">
                    </section>
                    <section>
                        <label for="Plan de desarrollo">Plan de desarrollo:  </label>
                        <input type="file"> 
                    </section>
                    <section>
                        <label for="Organigrama de la institución">Organigrama de la institución:  </label>
                        <input type="file">
                    </section>
                    <section>
                        <label for="Misión y visión institucional">Misión y visión institucional:  </label>
                        <input type="file">
                    </section>
                    <section>
                        <label for="Documento de evaluación periódica sobre la misión y visión">Documento de evaluación periódica sobre la misión y visión:  </label>
                        <input type="file">
                    </section>
                    <button>enviar</button>
                </div>                
            </div>
        </div>
    </header>
</body>