<app-menu></app-menu>
<body>
    <header>
        <div class="document">
            <div class="row">
                <label for="hoja de vida">Hoja de Vida: </label>
                <input type="file"> <br><br>
                <label for="Contrato">Contrato: </label>
                <input type="file"> <br><br>
                <label for="Certificado Medico">Certificado Medico: </label>
                <input type="file"> <br><br>
                
            </div>
        </div>
    </header>
</body>
