body, html{
    margin: 0 !important;
    padding: 0;
    width: 100%;
  }


  .encuest{
    position: absolute;
   /* border: 2px solid blue;*/
  }

  .encuest>.row{
    position: relative;
    align-items: center;
    text-align: center;

  }

.pregunta{
  position: relative;
  width: 90%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
 /* border: 2px solid black;*/
}

  .encuest>.row>.box>.pregunta1>.h3{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Roboto';
    color: black;

  }