<body>
    <header>
        <section> 
            <div class="encuest">
                <div class="row ">
                    <h1>INDICADORES DE EXISTENCIA</h1>
                <section>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 p-0 box">
                            <h2>Factor 1</h2>
                        <div class="pregunta1">
                            <h3>1.1 Barreras para el Aprendizaje y la Participacion</h3>
                         </div>
                            <h4>La institución de educación superior cuenta con una política de educación inclusiva que permite reconocer y minimizar las barreras para el aprendizaje y la participación</h4>
                         <div class="select">
                            <select name="pregunta" id="A1">
                                <option value="1">Existe y se implementa</option>
                                <option value="2">Existe y no se Implementa</option>
                                <option value="3">No Existe</option>
                                <option value="4">No Sabe</option>
                            </select>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 p-0 box2">
                        <h2>Factor 2</h2>
                        <div class="pregunta2">
                            <h3>2.1 Participacion de estudiantes</h3>
                            <h4>La institución cuenta con una politica que facilita la participación de todos los estudiantes en los procesos academicos y administrativos</h4>
                        </div>
                        <div class="select">
                                <select name="pregunta" id="A2">
                                    <option value="1">Siempre</option>
                                    <option value="2">Algunas Veces</option>
                                    <option value="3">Nunca</option>
                                    <option value="4">No Sabe</option>
                                </select>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 p-0 box3">
                        <div class="b">
                        <h1>Pregunta B1</h1>
                            <div class="pregunta2">
                                <h3>Identificacion y Caracterizacion de estudiantes desde la educacion inclusiva</h3>
                            </div>
                            <div class="select">
                                <select name="pregunta" id="A2">
                                    <option value="1">Siempre</option>
                                    <option value="2">Algunas Veces</option>
                                    <option value="3">Nunca</option>
                                    <option value="4">No Sabe</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 p-0 box3">
                        <div class="b">
                            <h1>Pregunta B2</h1>
                        <div class="pregunta2">
                            <h3>Docentes Inclusibo</h3>
                        </div>
                        <div class="select">
                                <select name="pregunta" id="A2">
                                    <option value="1">Siempre</option>
                                    <option value="2">Algunas Veces</option>
                                    <option value="3">Nunca</option>
                                    <option value="4">No Sabe</option>
                                </select>
                            </div>
                        </div>
                    </div>            
                </div>
                </div>
                </section>
    </header>
</body>
