<app-menu></app-menu>
<body>
    <header>
        <section> 
            <div class="encuest">
            <div class="row ">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 p-0 box">
                            <h1>Pregunta A1</h1>
                        <div class="pregunta1">
                            <h3>Barreras para el Aprendizaje y la Participacion</h3>
                         </div>
                         <div class="select">
                            <select name="pregunta" id="A1">
                                <option value="1">Existe y se implementa</option>
                                <option value="2">Existe y no se Implementa</option>
                                <option value="3">No Existe</option>
                                <option value="4">No Sabe</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 p-0 box2">
                        <h1>Pregunta A2</h1>
                        <div class="pregunta2">
                            <h3>Identificacion y Caracterizacion de estudiantes desde la educacion inclusiva</h3>
                        </div>
                        <div class="select">
                                <select name="pregunta" id="A2">
                                    <option value="1">Siempre</option>
                                    <option value="2">Algunas Veces</option>
                                    <option value="3">Nunca</option>
                                    <option value="4">No Sabe</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 p-0 box3">
                        <div class="b">
                        <h1>Pregunta B1</h1>
                            <div class="pregunta2">
                                <h3>Identificacion y Caracterizacion de estudiantes desde la educacion inclusiva</h3>
                            </div>
                            <div class="select">
                                <select name="pregunta" id="A2">
                                    <option value="1">Siempre</option>
                                    <option value="2">Algunas Veces</option>
                                    <option value="3">Nunca</option>
                                    <option value="4">No Sabe</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 p-0 box3">
                        <div class="b">
                            <h1>Pregunta B2</h1>
                        <div class="pregunta2">
                            <h3>Docentes Inclusibo</h3>
                        </div>
                        <div class="select">
                                <select name="pregunta" id="A2">
                                    <option value="1">Siempre</option>
                                    <option value="2">Algunas Veces</option>
                                    <option value="3">Nunca</option>
                                    <option value="4">No Sabe</option>
                                </select>
                            </div>
                        
                        </div>
                 </div>            
                </div>
            </div>
        
    </section> 

    <section>
            
    </section>
    </header>
</body>
